<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>hms1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
 <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
</servlet-mapping>

 <servlet>
    <servlet-name>usernameCheckServlet</servlet-name>
    <servlet-class>usernameCheckServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>usernameCheckServlet</servlet-name>
    <url-pattern>/usernameCheckServlet</url-pattern>
</servlet-mapping>

 <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>registerServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
</servlet-mapping>

 <servlet>
    <servlet-name>changePassServlet</servlet-name>
    <servlet-class>changePassServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>changePassServlet</servlet-name>
    <url-pattern>/changePassServlet</url-pattern>
</servlet-mapping>

 <servlet>
    <servlet-name>addAppointment</servlet-name>
    <servlet-class>addAppointment</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>addAppointment</servlet-name>
    <url-pattern>/addAppointment</url-pattern>
</servlet-mapping>

 <servlet>
    <servlet-name>checkAvailability</servlet-name>
    <servlet-class>checkAvailability</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>checkAvailability</servlet-name>
    <url-pattern>/checkAvailability</url-pattern>
</servlet-mapping>
</web-app>