*{margin:0;
            padding:0;
            box-sizing: border-box;
            font-family: "Poppins",sans-serif;

}
body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: url('doct10.jpg') no-repeat;
            background-size: cover;
            background-position: center;

}
.wrapper{
            width:420px;
            background:transparent;
            border:2px solid rgba(255,255,255,.2);
            backdrop-filter:blur(20px);
            color:white;
            border-radius: 10px;
            padding:30px 40px;
            text-align: center;



}
.wrapper h1{
            font-size: 36px;
            text-align:30px;
}
.wrapper .input-box{
            width:100%;
            height:56px;
            background:transparent;
            margin: 20px 0;
            position: relative;
}
        
.input-box input {
            width: calc(100% - 40px);
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border:2px solid rgba(255,255,255,.2);
            border-radius: 40px;
            font-size: 16px;
            color: balck;
            padding:0 40px 0 20px ;
            /* padding-left: 40px; */
}
.input-box input::placeholder{
            color:white;
}
.input-box i{
            position: absolute;
            top: 50%;
            right:50px;
            transform: translateY(-50%);
            font-size: 20px; 
}
.wrapper .btn{
            width: 100%;
            height: 56px;
            background-color: #fff;
            border:none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            cursor:pointer;
            font-size:16px;
            color: #333;
            font-weight: 600;
            margin-top: 20px;
}
.wrapper .btn:hover {
        background-color: rgb(197, 234, 142); 
        color: #000; 
}
input[type="text"],
input[type="password"]{
	color:white;
}    
